# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
 - package-ecosystem: "devcontainers"
   directory: "/"
   schedule:
     interval: weekly
  # Keep JS dependencies updated (Bun lockfile + package.json)
 - package-ecosystem: "bun"
   directory: "/"
   schedule:
     interval: "weekly"
    # Tell Dependabot to update the bun.lockb file too
   open-pull-requests-limit: 3
   groups:
     nextjs:
       patterns:
         - "next"
         - "@next/*"
     react:
       patterns:
         - "react"
         - "react-dom"

  # Keep GitHub Actions fresh
 - package-ecosystem: "github-actions"
   directory: "/"
   schedule:
     interval: "weekly"
   open-pull-requests-limit: 2
