*.json text eol=lf whitespace=-indent-with-non-tab

*.ts   whitespace=-indent-with-non-tab
*.tsx  whitespace=-indent-with-non-tab
*.js   whitespace=-indent-with-non-tab
*.jsx  whitespace=-indent-with-non-tab

bun.lock   merge=union -text -whitespace