@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	--wavelength-612-color: #ff5700;
	--wavelength-612-color-light: #ff7f33;
	--wavelength-612-color-dark: #cc4700;
}
