@import "tailwindcss";

/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-wavelength-612-color: #ff5700;
  --color-wavelength-612-color-light: #ff7f33;
  --color-wavelength-612-color-dark: #cc4700;
}*/

@theme {
  --color-forange: rgb(247 139 72);
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(240 10% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);
  --color-primary: var(--color-forange);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(240 5.9% 10%);
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-ring: hsl(240 10% 3.9%);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
  --color-radius: 0.5rem;
  --color-sidebar: var(--color-forange);
  --color-sidebar-background: hsl(0 30% 58%);
  --color-sidebar-foreground: hsl(240 5.3% 26.1%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-primary-foreground: hsl(0 0% 98%);
  --color-sidebar-accent: hsl(240 4.8% 95.9%);
  --color-sidebar-accent-foreground: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
  --color-table: var(--color-forange);
  --color-table-background: hsl(0 30% 58%);
  --color-table-foreground: hsl(240 5.3% 26.1%);
  --color-table-primary: hsl(240 5.9% 10%);
  --color-table-primary-foreground: hsl(0 0% 98%);
  --color-table-accent: hsl(240 4.8% 95.9%);
  --color-table-accent-foreground: hsl(240 5.9% 10%);
  --color-table-border: hsl(220 13% 91%);
  --color-table-ring: hsl(217.2 91.2% 59.8%);  
/*.dark {
  --color-background: 240 10% 3.9%;
  --color-foreground: 0 0% 98%;
    --color-card: 240 10% 3.9%;
    --color-card-foreground: 0 0% 98%;
    --color-popover: 240 10% 3.9%;
    --color-popover-foreground: 0 0% 98%;
    --color-primary: 0 0% 98%;
    --color-primary-foreground: 240 5.9% 10%;
    --color-secondary: 240 3.7% 15.9%;
    --color-secondary-foreground: 0 0% 98%;
    --color-muted: 240 3.7% 15.9%;
    --color-muted-foreground: 240 5% 64.9%;
    --color-accent: 240 3.7% 15.9%;
    --color-accent-foreground: 0 0% 98%;
    --color-destructive: 0 62.8% 30.6%;
    --color-destructive-foreground: 0 0% 98%;
    --color-border: 240 3.7% 15.9%;
    --color-input: 240 3.7% 15.9%;
    --color-ring: 240 4.9% 83.9%;
    --color-chart-1: 220 70% 50%;
    --color-chart-2: 160 60% 45%;
    --color-chart-3: 30 80% 55%;
    --color-chart-4: 280 65% 60%;
    --color-chart-5: 340 75% 55%;
    --color-sidebar-background: 240 5.9% 10%;
    --color-sidebar-foreground: 240 4.8% 95.9%;
    --color-sidebar-primary: 224.3 76.3% 48%;
    --color-sidebar-primary-foreground: 0 0% 100%;
    --color-sidebar-accent: 240 3.7% 15.9%;
    --color-sidebar-accent-foreground: 240 4.8% 95.9%;
    --color-sidebar-border: 240 3.7% 15.9%;
    --color-sidebar-ring: 217.2 91.2% 59.8%;
    --color-table-background: 240 5.9% 10%;
    --color-table-foreground: 240 4.8% 95.9%;
    --color-table-primary: 224.3 76.3% 48%;
    --color-table-primary-foreground: 0 0% 100%;
    --color-table-accent: 240 3.7% 15.9%;
    --color-table-accent-foreground: 240 4.8% 95.9%;
    --color-table-border: 240 3.7% 15.9%;
    --color-table-ring: 217.2 91.2% 59.8%;
  }*/
}
